<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/nav.ejs') %>

        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <% if (action!="undefined" && action=="edit" ) { %>
                        <div class="alert alert-warning">
                           <%= blogid %> id numaralı Blog Başarıyla Güncellendi
                        </div>
                    <% } %>
                    <% if (action!="undefined" && action=="create" ) { %>
                        <div class="alert alert-success">
                            Blog Başarıyla Eklendi
                        </div>
                    <% } %>
                    <% if (action!="undefined" && action=="delete" ) { %>
                        <div class="alert alert-danger">
                            Blog Başarıyla Silindi
                        </div>
                    <% } %>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">id</th>
                                        <th style="width: 150px;">Resim</th>
                                        <th>Başlık</th>
                                        <th style="width: 130px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% blogs.forEach(blog=> { %>
                                        <tr>
                                            <td>
                                                #<%= blog.blogid %>
                                            </td>
                                            <td>
                                                <img src="/static/images/<%= blog.resim %>" class="img-fluid" alt="">
                                            </td>
                                            <td>
                                                <%= blog.baslik %>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-primary"
                                                    href="/admin/blogs/<%= blog.blogid %>">edit</a>
                                                <a class="btn btn-sm btn-danger"
                                                    href="/admin/blog/delete/<%= blog.blogid %>">delete</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>