<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/nav.ejs') %>

        <div class="container mt-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/<%= blog.resim %>" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <h1 class="h3 mb-3">
                                <%=blog.baslik %>
                            </h1>
                            <p>
                                <%= blog.altbaslik %>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <%- blog.aciklama  %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>